name: Check with black

on: [push, pull_request]

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4.1.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install -U git+https://github.com/Pycord-Development/pycord
          python -m pip install --upgrade pip
          python -m pip install black
      - name: format with black
        run: |
          black -v .